openapi: 3.1.0
info:
  title: AhaSend API v2
  description: |
    The AhaSend API v2 allows you to send transactional emails, manage domains, webhooks, routes, API keys, and view statistics.

    ## Authentication
    All API requests must be authenticated using a Bearer token in the Authorization header:
    ```
    Authorization: Bearer aha-sk-64-CHARACTER-RANDOM-STRING
    ```

    ## Scopes
    API keys have specific scopes that control access to different resources and actions:

    ### Message Scopes
    - `messages:send:all` - Send messages from any domain in the account
    - `messages:send:{domain}` - Send messages from a specific domain
    - `messages:cancel:all` - Cancel messages from any domain
    - `messages:cancel:{domain}` - Cancel messages from a specific domain
    - `messages:read:all` - Read messages from any domain
    - `messages:read:{domain}` - Read messages from a specific domain

    ### Domain Scopes
    - `domains:read` - Read all domains
    - `domains:write` - Create and update domains
    - `domains:delete:all` - Delete any domain
    - `domains:delete:{domain}` - Delete a specific domain

    ### Account Scopes
    - `accounts:read` - Read account information
    - `accounts:write` - Update account settings
    - `accounts:billing` - Access billing information
    - `accounts:members:read` - Read account members
    - `accounts:members:add` - Add account members
    - `accounts:members:update` - Update account members
    - `accounts:members:remove` - Remove account members

    ### Webhook Scopes
    - `webhooks:read:all` - Read all webhooks
    - `webhooks:read:{domain}` - Read webhooks for a specific domain
    - `webhooks:write:all` - Create and update webhooks
    - `webhooks:write:{domain}` - Create and update webhooks for a specific domain
    - `webhooks:delete:all` - Delete any webhook
    - `webhooks:delete:{domain}` - Delete webhooks for a specific domain

    ### Route Scopes
    - `routes:read:all` - Read all routes
    - `routes:read:{domain}` - Read routes for a specific domain
    - `routes:write:all` - Create and update routes
    - `routes:write:{domain}` - Create and update routes for a specific domain
    - `routes:delete:all` - Delete any route
    - `routes:delete:{domain}` - Delete routes for a specific domain

    ### Suppression Scopes
    - `suppressions:read` - Read suppressions
    - `suppressions:write` - Create suppressions
    - `suppressions:delete` - Delete suppressions
    - `suppressions:wipe` - Delete all suppressions (dangerous)

    ### SMTP Credentials Scopes
    - `smtp-credentials:read:all` - Read all SMTP credentials
    - `smtp-credentials:read:{domain}` - Read SMTP credentials for a specific domain
    - `smtp-credentials:write:all` - Create SMTP credentials
    - `smtp-credentials:write:{domain}` - Create SMTP credentials for a specific domain
    - `smtp-credentials:delete:all` - Delete any SMTP credentials
    - `smtp-credentials:delete:{domain}` - Delete SMTP credentials for a specific domain

    ### Statistics Scopes
    - `statistics-transactional:read:all` - Read all transactional statistics
    - `statistics-transactional:read:{domain}` - Read transactional statistics for a specific domain

    ### API Key Scopes
    - `api-keys:read` - Read API keys
    - `api-keys:write` - Create and update API keys
    - `api-keys:delete` - Delete API keys

    ### Sub-Account Scopes
    - `sub-accounts:read` - List and read sub accounts under the parent
    - `sub-accounts:write` - Create and update sub accounts
    - `sub-accounts:delete` - Soft-delete sub accounts
    - `sub-accounts:suspend` - Suspend and unsuspend sub accounts
    - `sub-accounts:usage` - Read per-sub-account usage and allocated cost
    - `sub-account-api-keys:read` - List and read API keys owned by sub accounts
    - `sub-account-api-keys:write` - Create and update API keys owned by sub accounts
    - `sub-account-api-keys:delete` - Delete API keys owned by sub accounts

    ## Rate Limiting
    - General API endpoints: 100 requests per second, 200 burst
    - Statistics endpoints: 1 request per second, 1 burst

    ## Pagination
    List endpoints use cursor-based pagination with the following parameters:
    - `limit`: Maximum number of items to return (default: 100, max: 100)
    - `after`: Pass `pagination.next_cursor` to fetch the next page
    - `before`: Pass `pagination.previous_cursor` to fetch the previous page

    `after` and `before` are mutually exclusive. A legacy `cursor` query may be
    accepted by parts of the server for backwards compatibility, but it is not
    part of the v2 public contract.

    ## Time Formats
    All timestamps must be in RFC3339 format, e.g., `2023-12-25T10:30:00Z`

    ## Idempotency
    The operations that explicitly declare the optional `Idempotency-Key`
    header support idempotency. Other POST operations do not gain idempotency
    implicitly. When the header is provided:
    - A fresh execution does not return `Idempotent-Replayed`.
    - A completed stored response is replayed with its original status and body
      and `Idempotent-Replayed: true`.
    - An unexpired in-progress execution returns HTTP 409 with
      `Idempotent-Replayed: false` and a positive integer `Retry-After` header.
    - Reusing a key with a different HTTP method, resolved request path, or
      request body returns HTTP 422. That response has neither
      `Idempotent-Replayed` nor `Retry-After`.
    - For ordinary idempotent operations, deterministic 2xx and 4xx outcomes
      produced after the idempotency middleware are stored and replayed.
      Authentication and IP-allow-list failures happen before idempotency and
      are therefore not stored.
    - The two secret-bearing API-key create operations use manual encrypted
      completion. They store and replay a successful 201, including the same
      one-time `secret_key`; a controller-produced 4xx is not stored and leaves
      the key in progress until its execution lease expires.
    - Server errors (5xx), handler failures, and panics are not stored. The key
      is released so retrying the same request with the same key re-executes it.
      The v2 API does not use an HTTP 412 failed-key tombstone.
    - Idempotency keys for non-secret responses expire after 24 hours.
    - Encrypted API-key creation replay responses expire after 5 minutes.

    ## IP Allow Lists
    Each API key can carry an `ip_allow_list`: a set of source IPs that restrict where the key may authenticate from.
    - Entries are CIDR blocks (e.g. `203.0.113.0/24`) or bare IPv4/IPv6 addresses (stored as a `/32` or `/128`). They are canonicalized and de-duplicated; the allow-all prefixes `0.0.0.0/0` and `::/0` are rejected, and at most 100 entries are allowed after de-duplication (a longer list is rejected with HTTP 400).
    - An empty list (the default) places no restriction.
    - When the list is non-empty, any authenticated request whose client IP is not covered by an entry is rejected with HTTP 403 on every v2 endpoint, regardless of the key's scopes.
    - Manage the list with the `ip_allow_list` field on the API-key create and update endpoints (including the sub-account API-key endpoints).
    - When a key updates its own `ip_allow_list` to a value that excludes the caller's current IP, the update is rejected with HTTP 409 to prevent self-lockout. Updating a sub-account key from a parent key has no such guard.

  version: "2.0.0"
  contact:
    email: support@ahasend.com
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://api.ahasend.com
    description: Production server

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: "aha-sk-64-CHARACTER-RANDOM-STRING"
      description: |
        API key for authentication. Non-empty Security Requirement values are
        AhaSend API-key roles. Roles listed within one requirement object are
        jointly required; separate requirement objects are alternatives.

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: |
        Optional idempotency key for safe request retries. Must be a unique string for each logical request.
        An identical request with a completed stored outcome returns the original status and body. An in-progress
        execution returns 409, a changed method/path/body returns 422, and a released 5xx execution may run again.
        Keys for non-secret responses expire after 24 hours. API-key create responses include a one-time `secret_key`,
        so successful encrypted replay responses for those operations expire after 5 minutes.
      schema:
        type: string
        maxLength: 255
      example: "user-12345-create-domain-20240101"

  headers:
    IdempotentReplayed:
      description: |
        Indicates that this response is a stored replay of a previous identical request.
        When this header is absent, the response is not a stored replay. Ordinary fresh
        responses do not send `false`; that value is reserved for an in-progress 409.
      schema:
        type: string
        enum: ['true']

    IdempotencyInProgress:
      description: |
        Identifies an idempotency-key execution that is still in progress. This
        header is emitted only on the specialized HTTP 409 response.
      schema:
        type: string
        enum: ['false']

    IdempotencyRetryAfter:
      description: |
        Positive whole number of seconds after which the in-progress execution
        lease may be retried with the same key and unchanged request.
      schema:
        type: integer
        minimum: 1

  responses:
    IdempotencyConflict:
      description: |
        Request in progress. This response always includes
        `Idempotent-Replayed: false` and a positive integer `Retry-After`.
        Clients must use that header tuple, not the human-readable message, to
        distinguish this retryable idempotency state from other HTTP 409s.
      headers:
        Idempotent-Replayed:
          $ref: '#/components/headers/IdempotencyInProgress'
        Retry-After:
          $ref: '#/components/headers/IdempotencyRetryAfter'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: "A request with this idempotency key is already in progress"

    IdempotencyPayloadMismatch:
      description: |
        Idempotency key was already used with a different HTTP method, resolved
        request path, or request body. This response includes neither
        `Idempotent-Replayed` nor `Retry-After`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: "idempotency key was already used with a different request payload"

  schemas:
    ErrorResponse:
      type: object
      description: |
        Human-readable API error. The server currently sends no stable machine
        error code. In particular, clients must not parse `message` to
        distinguish IP-allow-list, scope, ownership, plan, self-lockout,
        suppression-duplicate, or other errors that share an HTTP status.
      additionalProperties: false
      required:
        - message
      properties:
        message:
          type: string
          description: Error description
      example:
        message: "Error message"

    SuccessResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: Success message
      example:
        message: "Operation completed successfully"

    PaginationInfo:
      type: object
      required:
        - has_more
      properties:
        has_more:
          type: boolean
          description: Whether more items exist after the last item of this page
        next_cursor:
          type: string
          description: Pass as `after` to fetch the next page
        previous_cursor:
          type: string
          description: Pass as `before` to fetch the previous page; absent on a `before` page when the start of the list has been reached
      example:
        has_more: true
        next_cursor: "eyJpZCI6MTIzNH0="

    # API Key Schemas
    APIKeyScope:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the scope
        created_at:
          type: string
          format: date-time
          description: When the scope was created
        updated_at:
          type: string
          format: date-time
          description: When the scope was last updated
        api_key_id:
          type: string
          format: uuid
          description: ID of the API key this scope belongs to
        scope:
          type: string
          description: The scope string
        domain_id:
          type: [string, 'null']
          format: uuid
          description: Domain ID for domain-specific scopes; always present and null for non-domain scopes
      required:
        - id
        - created_at
        - updated_at
        - api_key_id
        - scope
        - domain_id

    APIKey:
      type: object
      properties:
        object:
          type: string
          enum: [api_key]
          description: Object type identifier
        id:
          type: string
          format: uuid
          description: Unique identifier for the API key
        created_at:
          type: string
          format: date-time
          description: When the API key was created
        updated_at:
          type: string
          format: date-time
          description: When the API key was last updated
        last_used_at:
          type: [string, 'null']
          format: date-time
          description: When the API key was last used (updates every 5-10 minutes)
        account_id:
          type: string
          format: uuid
          description: Account ID this API key belongs to
        label:
          type: string
          description: Human-readable label for the API key
        public_key:
          type: string
          description: Public portion of the API key
        scopes:
          type: array
          items:
            $ref: '#/components/schemas/APIKeyScope'
          description: Scopes granted to this API key
        ip_allow_list:
          type: array
          items:
            type: string
          description: >-
            Source IPs allowed to authenticate with this API key, as canonical
            CIDR blocks (a bare address is stored as a `/32` for IPv4 or `/128`
            for IPv6). Always present; an empty array means the key may be used
            from any source IP. When non-empty, an authenticated request whose
            client IP is not covered by an entry is rejected with HTTP 403 on
            every v2 endpoint, regardless of the key's scopes.
      required:
        - object
        - id
        - created_at
        - updated_at
        - last_used_at
        - account_id
        - label
        - public_key
        - scopes
        - ip_allow_list

    CreateAPIKeyRequest:
      type: object
      required:
        - label
        - scopes
      properties:
        label:
          type: string
          minLength: 1
          maxLength: 255
          description: Human-readable label for the API key; must not be empty
        scopes:
          type: array
          items:
            type: string
          minItems: 1
          description: Array of scope strings to grant to this API key
        ip_allow_list:
          type: array
          items:
            type: string
          description: >-
            Optional list of source IPs allowed to authenticate with this key.
            Each entry is a CIDR block (e.g. `203.0.113.0/24`) or a bare
            IPv4/IPv6 address (stored as a `/32` or `/128`). Entries are
            canonicalized (host bits are masked) and de-duplicated. The
            allow-all prefixes `0.0.0.0/0` and `::/0` are rejected, and at most
            100 entries are allowed after de-duplication. Omit the field or
            pass an empty array to leave the key usable from any IP.
      example:
        label: "Production API Key"
        scopes: ["messages:send:all", "domains:read"]
        ip_allow_list: ["203.0.113.0/24", "198.51.100.7"]

    UpdateAPIKeyRequest:
      type: object
      description: At least one non-null field must be provided, and at least one provided value must differ from the current value. Omitted or null fields are left unchanged.
      anyOf:
        - required: [label]
          properties:
            label:
              type: string
        - required: [scopes]
          properties:
            scopes:
              type: array
        - required: [ip_allow_list]
          properties:
            ip_allow_list:
              type: array
      properties:
        label:
          type: [string, 'null']
          minLength: 1
          maxLength: 255
          description: Human-readable label for the API key. Omit to keep the existing label.
        scopes:
          type: [array, 'null']
          items:
            type: string
          minItems: 1
          description: Array of scope strings to grant to this API key
        ip_allow_list:
          type: [array, 'null']
          items:
            type: string
          description: >-
            Replacement list of allowed source IPs (CIDR blocks or bare
            IPv4/IPv6 addresses; canonicalized and de-duplicated, at most 100
            entries, allow-all prefixes `0.0.0.0/0` and `::/0` rejected). Omit
            the field or send null to leave the existing list unchanged; send an
            empty array to clear it (key usable from any IP); send a non-empty
            array to replace it.
      example:
        label: "Updated API Key"
        scopes: ["messages:send:{example.com}", "domains:read"]
        ip_allow_list: ["203.0.113.0/24"]

    PaginatedAPIKeysResponse:
      type: object
      required:
        - object
        - data
        - pagination
      properties:
        object:
          type: string
          enum: [list]
          description: Object type identifier
        data:
          type: array
          items:
            $ref: '#/components/schemas/APIKey'
          description: Array of API keys
        pagination:
          $ref: '#/components/schemas/PaginationInfo'

    # Domain Schemas
    DNSRecord:
      type: object
      properties:
        type:
          type: string
          description: DNS record type (e.g., CNAME, TXT, MX)
        label:
          type: string
          description: Human-readable DNS record label
        host:
          type: string
          description: DNS record host/name
        content:
          type: string
          description: DNS record content/value
        required:
          type: boolean
          description: Whether this DNS record is required for domain verification
        propagated:
          type: boolean
          description: Whether this DNS record has been propagated and verified
      required:
        - type
        - host
        - content
        - required
        - propagated

    Domain:
      type: object
      properties:
        object:
          type: string
          enum: [domain]
          description: Object type identifier
        id:
          type: string
          format: uuid
          description: Unique identifier for the domain
        created_at:
          type: string
          format: date-time
          description: When the domain was created
        updated_at:
          type: string
          format: date-time
          description: When the domain was last updated
        domain:
          type: string
          description: The domain name
        account_id:
          type: string
          format: uuid
          description: Account ID this domain belongs to
        dns_records:
          type: array
          items:
            $ref: '#/components/schemas/DNSRecord'
          description: DNS records required for domain verification
        last_dns_check_at:
          type: [string, 'null']
          format: date-time
          description: When DNS records were last checked
        dns_valid:
          type: boolean
          description: Whether all required DNS records are properly configured
        tracking_subdomain:
          type: [string, 'null']
          description: Custom tracking subdomain. Null means the account or product default is used. Applies to both manual-DNS and managed-DNS domains.
        return_path_subdomain:
          type: [string, 'null']
          description: Custom return-path subdomain. Null means the account or product default is used. Applies to both manual-DNS and managed-DNS domains.
        subscription_subdomain:
          type: [string, 'null']
          description: Custom subscription management subdomain. Null means the account or product default is used. Applies to both manual-DNS and managed-DNS domains.
        media_subdomain:
          type: [string, 'null']
          description: Custom media subdomain. Null means the account or product default is used. Applies to both manual-DNS and managed-DNS domains.
        dkim_rotation_interval_days:
          type: [integer, 'null']
          description: Custom DKIM rotation interval in days. Null means the account default is used. Only supported for managed DNS domains.
        dkim_selector:
          type: [string, 'null']
          description: |
            Per-domain DKIM selector override. Null means no per-domain override is set.

            This reports the configured per-domain override only, not the effective selector used for DKIM signing. The effective selector is resolved separately and can differ — for example, a selector locked after DNS verification takes precedence over this override.
        rotation_ready:
          type: boolean
          description: Whether the standby DKIM slot is ready for rotation.
        dsn_recipient:
          type: [string, 'null']
          description: Optional recipient address for delivery status notifications.
      required:
        - object
        - id
        - created_at
        - updated_at
        - domain
        - account_id
        - dns_records
        - last_dns_check_at
        - dns_valid
        - tracking_subdomain
        - return_path_subdomain
        - subscription_subdomain
        - media_subdomain
        - dkim_rotation_interval_days
        - dkim_selector
        - rotation_ready
        - dsn_recipient

    CreateDomainRequest:
      type: object
      required:
        - domain
      properties:
        domain:
          type: string
          format: hostname
          description: Fully qualified domain name
        dkim_private_key:
          type: string
          description: |
            DKIM Private Key for the domain. Only RSA keys with a minimum key size of 1024 bits are supported.

            **Note:** This parameter is only supported on [Platform Partner](https://ahasend.com/partners) accounts.

            <Note>Key size of at least 1024 bits is supported; 2048 bit keys are strongly recommended for improved security.</Note>
        tracking_subdomain:
          type: string
          description: Optional custom tracking subdomain. Omit to use the default on create. Applies to both manual-DNS and managed-DNS domains.
        return_path_subdomain:
          type: string
          description: Optional custom return-path subdomain. Omit to use the default on create. Applies to both manual-DNS and managed-DNS domains.
        subscription_subdomain:
          type: string
          description: Optional custom subscription management subdomain. Omit to use the default on create. Applies to both manual-DNS and managed-DNS domains.
        media_subdomain:
          type: string
          description: Optional custom media subdomain. Omit to use the default on create. Applies to both manual-DNS and managed-DNS domains.
        dkim_rotation_interval_days:
          type: integer
          description: Optional custom DKIM rotation interval in days. Only supported for managed DNS domains on eligible plans.
        dkim_selector:
          type: [string, 'null']
          description: |
            Optional custom DKIM selector for the domain. Omit, send null, or send an empty or whitespace-only string to use the default selector (no per-domain override); the value is trimmed before it is interpreted, so whitespace-only input is treated as empty.

            When provided, it is normalized to lowercase and must be a single DNS label: 1-62 characters using lowercase letters, numbers, and hyphens only, without a leading or trailing hyphen.

            **Note:** This parameter is only supported on [Platform Partner](https://ahasend.com/partners) accounts.
      example:
        domain: "example.com"
        tracking_subdomain: "click"
        return_path_subdomain: "mail"
        subscription_subdomain: "preferences"
        media_subdomain: "media"
        dkim_rotation_interval_days: 45

    UpdateDomainRequest:
      type: object
      properties:
        tracking_subdomain:
          type: string
          description: Optional custom tracking subdomain. Omit to leave the current value unchanged. Applies to both manual-DNS and managed-DNS domains.
        return_path_subdomain:
          type: string
          description: Optional custom return-path subdomain. Omit to leave the current value unchanged. Applies to both manual-DNS and managed-DNS domains.
        subscription_subdomain:
          type: string
          description: Optional custom subscription management subdomain. Omit to leave the current value unchanged. Applies to both manual-DNS and managed-DNS domains.
        media_subdomain:
          type: string
          description: Optional custom media subdomain. Omit to leave the current value unchanged. Applies to both manual-DNS and managed-DNS domains.
        dkim_rotation_interval_days:
          type: integer
          description: Optional custom DKIM rotation interval in days. Omit to leave the current value unchanged. Only supported for managed DNS domains on eligible plans.
        dkim_selector:
          type: [string, 'null']
          description: |
            Optional custom DKIM selector for the domain. Omit or send null to leave the current value unchanged; send an empty or whitespace-only string to clear the override and revert to the default selector. The value is trimmed before it is interpreted, so whitespace-only input clears the override just like an empty string.

            When provided, it is normalized to lowercase and must be a single DNS label: 1-62 characters using lowercase letters, numbers, and hyphens only, without a leading or trailing hyphen. It cannot be changed once the selector locks after DNS verification or while a DKIM key rotation is in progress.

            **Note:** This parameter is only supported on [Platform Partner](https://ahasend.com/partners) accounts.
      example:
        tracking_subdomain: "click"
        return_path_subdomain: "mail"
        subscription_subdomain: "preferences"
        media_subdomain: "media"
        dkim_rotation_interval_days: 45

    PaginatedDomainsResponse:
      type: object
      required:
        - object
        - data
        - pagination
      properties:
        object:
          type: string
          enum: [list]
          description: Object type identifier
        data:
          type: array
          items:
            $ref: '#/components/schemas/Domain'
          description: Array of domains
        pagination:
          $ref: '#/components/schemas/PaginationInfo'

    # Message Schemas
    Address:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          description: Valid email address from a domain defined in your account with valid DNS records
        name:
          type: string
          description: Display name for the sender
      example:
        email: "noreply@example.com"
        name: "Example Corp"

    Recipient:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          description: Recipient email address
        name:
          type: string
          description: Display name for the recipient
        substitutions:
          type: object
          additionalProperties: true
          description: Substitution data for the recipient. Used with jinja2 templating language for dynamic content
      example:
        email: "user@example.com"
        name: "John Doe"
        substitutions:
          first_name: "John"
          order_id: "12345"

    Attachment:
      type: object
      required:
        - data
        - content_type
        - file_name
      properties:
        base64:
          type: boolean
          description: If true, data must be encoded using base64. Otherwise, data will be interpreted as UTF-8
          default: false
        data:
          type: string
          description: Either plaintext or base64 encoded attachment data (depending on base64 field)
        content_type:
          type: string
          description: The MIME type of the attachment
        content_disposition:
          type: string
          description: The disposition of the attachment
        content_id:
          type: string
          description: |
            Content-ID that lets you reference this attachment as an inline image from your HTML.

            The value **must be wrapped in angle brackets**, matching the MIME `Content-ID` header format — for example `"<image1@example.com>"`. Reference it from `html_content` **without** the brackets, e.g. `<img src="cid:image1@example.com">`.

            If the angle brackets are omitted, the file is delivered as a regular (downloadable) attachment instead of rendering inline.
        file_name:
          type: string
          description: The filename of the attachment
      example:
        base64: true
        data: "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="
        content_type: "image/png"
        file_name: "pixel.png"

    Tracking:
      type: [object, 'null']
      properties:
        open:
          type: [boolean, 'null']
          description: Whether to track opens
        click:
          type: [boolean, 'null']
          description: Whether to track clicks
      example:
        open: true
        click: true

    Retention:
      type: [object, 'null']
      properties:
        metadata:
          type: [integer, 'null']
          description: Number of days to retain metadata
          minimum: 1
          maximum: 30
        data:
          type: [integer, 'null']
          description: Number of days to retain data
          minimum: 0
          maximum: 30
      example:
        metadata: 1
        data: 0
    MessageSchedule:
      type: object
      properties:
        first_attempt:
          type: string
          format: date-time
          description: The time to make the first attempt for delivering the message. Must be RFC3339 format, in the future, and within 7 days of the request.
        expires:
          type: string
          format: date-time
          description: Expire and drop the message if not delivered by this time. Must be RFC3339 format, in the future, and within 8 days of the request.

    CreateMessageRequest:
      type: object
      required:
        - from
        - recipients
        - subject
      properties:
        from:
          $ref: '#/components/schemas/Address'
        recipients:
          type: array
          items:
            $ref: '#/components/schemas/Recipient'
          minItems: 1
          maxItems: 100
          description: This does not set the To header to multiple addresses, it sends a separate message for each recipient
        reply_to:
          $ref: '#/components/schemas/Address'
          description: If provided, the reply-to header in headers array must not be provided
        subject:
          type: string
          description: Email subject line
        text_content:
          type: string
          description: Plain text content. Required if html_content is empty
        html_content:
          type: string
          description: HTML content. Required if text_content is empty
        amp_content:
          type: string
          description: AMP HTML content
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
          description: File attachments. For inline images, set the attachment's `content_id` to a value wrapped in angle brackets (e.g. `<image1@example.com>`) and reference it from `html_content` with `cid:` (e.g. `<img src="cid:image1@example.com">`).
        headers:
          type: object
          additionalProperties:
            type: string
          description: Custom email headers. reply-to header cannot be provided if reply_to is provided, message-id will be ignored and automatically generated
        substitutions:
          type: object
          additionalProperties: true
          description: Global substitutions, recipient substitutions override global
        tags:
          type: array
          items:
            type: string
          description: Tags for categorizing messages
        sandbox:
          type: boolean
          description: If true, the message will be sent to the sandbox environment
          default: false
        sandbox_result:
          type: string
          enum: [deliver, bounce, defer, fail, suppress]
          description: The result of the sandbox send
        tracking:
          $ref: '#/components/schemas/Tracking'
          description: Tracking settings for the message, overrides default account settings
        retention:
          $ref: '#/components/schemas/Retention'
          description: Retention settings for the message, overrides default account settings
        schedule:
          $ref: '#/components/schemas/MessageSchedule'
          description: Schedule for message delivery
      example:
        from:
          email: "noreply@example.com"
          name: "Example Corp"
        recipients:
          - email: "user@example.com"
            name: "John Doe"
        subject: "Welcome to Example Corp"
        html_content: "<h1>Welcome {{first_name}}!</h1>"
        text_content: "Welcome {{first_name}}!"
        substitutions:
          first_name: "John"

    CreateConversationMessageRequest:
      type: object
      required:
        - from
        - to
        - subject
      properties:
        from:
          $ref: '#/components/schemas/Address'
        to:
          type: array
          items:
            $ref: '#/components/schemas/Address'
          minItems: 1
          maxItems: 50
          description: This parameter can set the `To` header to multiple addresses. The combined to, cc, and bcc recipient count must not exceed 50.
        cc:
          type: array
          items:
            $ref: '#/components/schemas/Address'
          minItems: 1
          maxItems: 50
          description: This parameter can set the `CC` header to multiple addresses. Do not include `cc` in the headers array. The combined to, cc, and bcc recipient count must not exceed 50.
        bcc:
          type: array
          items:
            $ref: '#/components/schemas/Address'
          minItems: 1
          maxItems: 50
          description: This parameter can set the `To` header to multiple addresses. The combined to, cc, and bcc recipient count must not exceed 50.
        reply_to:
          $ref: '#/components/schemas/Address'
          description: If provided, the reply-to header in headers array must not be provided
        subject:
          type: string
          description: Email subject line
        text_content:
          type: string
          description: Plain text content. Required if html_content is empty
        html_content:
          type: string
          description: HTML content. Required if text_content is empty
        amp_content:
          type: string
          description: AMP HTML content
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
          description: File attachments. For inline images, set the attachment's `content_id` to a value wrapped in angle brackets (e.g. `<image1@example.com>`) and reference it from `html_content` with `cid:` (e.g. `<img src="cid:image1@example.com">`).
        headers:
          type: object
          additionalProperties:
            type: string
          description: Custom email headers. `cc` and `reply-to` headers cannot be provided if `reply_to` or `cc` parameters are provided, message-id will be ignored and automatically generated
        tags:
          type: array
          items:
            type: string
          description: Tags for categorizing messages
        sandbox:
          type: boolean
          description: If true, the message will be sent to the sandbox environment
          default: false
        sandbox_result:
          type: string
          enum: [deliver, bounce, defer, fail, suppress]
          description: The result of the sandbox send
        tracking:
          $ref: '#/components/schemas/Tracking'
          description: Tracking settings for the message, overrides default account settings
        retention:
          $ref: '#/components/schemas/Retention'
          description: Retention settings for the message, overrides default account settings
        schedule:
          $ref: '#/components/schemas/MessageSchedule'
          description: Schedule for message delivery
      example:
        from:
          email: "noreply@example.com"
          name: "Example Corp"
        to:
          - email: "user@example.com"
            name: "John Doe"
          - email: "someone@example.com"
            name: "Jane Doe"
        cc:
          - email: "hr@example.com"
            name: "Example Corp HR"
        bcc:
          - email: "bcc@example.com"
            name: "BCC Recipient"
        subject: "Welcome to Example Corp"
        html_content: "<h1>Dear John and Jane, welcome to Example Corp!</h1>"
        text_content: "Dear John and Jane, welcome to Example Corp!"

    CreateSingleMessageResponse:
      type: object
      required:
        - object
        - id
        - recipient
        - status
        - error
      properties:
        object:
          type: string
          enum: [message]
          description: Object type identifier
        id:
          type: [string, 'null']
          description: Message ID (null if the message was not sent)
          example: <uuid@example.com>
        recipient:
          allOf:
            - $ref: '#/components/schemas/Recipient'
            - type: object
              required:
                - name
        status:
          type: string
          enum: [queued, scheduled, error]
          description: Status of the message
        error:
          type: [string, 'null']
          description: Error message if the message was not sent
        schedule:
          $ref: '#/components/schemas/MessageSchedule'
          description: Provided if the request contained a schedule

    CreateMessageResponse:
      type: object
      required:
        - object
        - data
      properties:
        object:
          type: string
          enum: [list]
          description: Object type identifier
        data:
          type: array
          items:
            $ref: '#/components/schemas/CreateSingleMessageResponse'
          description: List of messages and their statuses

    DeliveryEvent:
      type: object
      properties:
        time:
          type: string
          format: date-time
          description: Timestamp of the delivery event
        log:
          type: string
          description: Log message for the delivery event
        status:
          type: string
          description: Status of the delivery event
      required:
        - time
        - log
        - status

    MessageContentPart:
      type: object
      properties:
        content_type:
          type: string
          description: MIME content type (e.g., "text/plain", "text/html")
          example: "text/html"
        content:
          type: string
          description: The actual content for this part
      required:
        - content_type
        - content

    MessageAttachment:
      type: object
      properties:
        filename:
          type: string
          description: Original filename of the attachment
          example: "document.pdf"
        content:
          type: string
          description: Base64 encoded attachment content
        content_type:
          type: string
          description: MIME content type of the attachment
          example: "application/pdf"
        content_id:
          type: string
          description: Content-ID for inline attachments
          example: "image001@example.com"
      required:
        - filename
        - content
        - content_type
        - content_id

    MessageContentParsed:
      type: object
      properties:
        parts:
          type: array
          items:
            $ref: '#/components/schemas/MessageContentPart'
          description: Array of message content parts (text, HTML, etc.)
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/MessageAttachment'
          description: Array of message attachments
        headers:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Email headers as key-value pairs (values are arrays to handle multiple headers with same name)
          example:
            "Content-Type": ["text/html; charset=utf-8"]
            "X-Custom-Header": ["value1", "value2"]
      required:
        - parts
        - attachments
        - headers

    # Base message schema without heavy content fields
    MessageSummary:
      type: object
      properties:
        object:
          type: string
          enum: [message]
          description: Object type identifier
        created_at:
          type: string
          format: date-time
          description: When the message was created
        updated_at:
          type: string
          format: date-time
          description: When the message was last updated
        sent_at:
          type: [string, 'null']
          format: date-time
          description: When the message was sent
        delivered_at:
          type: [string, 'null']
          format: date-time
          description: When the message was delivered
        retain_until:
          type: string
          format: date-time
          description: When the message data will be purged
        direction:
          type: string
          enum: [inbound, outbound]
          description: Message direction
        is_bounce_notification:
          type: boolean
          description: Whether this is a bounce notification
        bounce_classification:
          type: string
          description: Classification of bounce if applicable
        delivery_attempts:
          type: array
          items:
            $ref: '#/components/schemas/DeliveryEvent'
          description: List of delivery attempts for this message
        message_id:
          type: string
          description: Message-ID header value
        id:
          type: [string, 'null']
          format: uuid
          description: API-generated message ID
        subject:
          type: string
          description: Message subject
        tags:
          type: array
          items:
            type: string
          description: Tags associated with the message
        sender:
          type: string
          format: email
          description: Sender email address
        recipient:
          type: string
          format: email
          description: Recipient email address
        status:
          type: string
          description: Current message status
        num_attempts:
          type: integer
          description: Number of delivery attempts
        click_count:
          type: integer
          description: Number of clicks tracked for this message
        open_count:
          type: integer
          description: Number of opens tracked for this message
        reference_message_id:
          type: [integer, 'null']
          format: int64
          description: ID of the original message (for bounce messages)
        domain_id:
          type: string
          format: uuid
          description: Domain ID this message was sent from
        account_id:
          type: string
          format: uuid
          description: Account ID this message belongs to
      required:
        - object
        - created_at
        - updated_at
        - sent_at
        - delivered_at
        - retain_until
        - direction
        - is_bounce_notification
        - bounce_classification
        - delivery_attempts
        - message_id
        - id
        - subject
        - tags
        - sender
        - recipient
        - status
        - num_attempts
        - click_count
        - open_count
        - reference_message_id
        - domain_id
        - account_id

    # Full message schema with content fields
    Message:
      allOf:
        - $ref: '#/components/schemas/MessageSummary'
        - type: object
          properties:
            content:
              type: string
              description: Original raw email content in RFC822 format. Omitted when message content is unavailable.
            content_parsed:
              $ref: '#/components/schemas/MessageContentParsed'
              description: Parsed message content. Omitted when message content is unavailable.

    # Update the paginated response to use the lighter schema
    PaginatedMessagesResponse:
      type: object
      required:
        - object
        - data
        - pagination
      properties:
        object:
          type: string
          enum: [list]
          description: Object type identifier
        data:
          type: array
          items:
            $ref: '#/components/schemas/MessageSummary'
          description: Array of message summaries (content and content_parsed fields omitted for performance)
        pagination:
          $ref: '#/components/schemas/PaginationInfo'

    # Account Schemas
    Account:
      type: object
      properties:
        object:
          type: string
          enum: [account]
          description: Object type identifier
        id:
          type: string
          format: uuid
          description: Unique identifier for the account
        parent_account_id:
          type: [string, 'null']
          format: uuid
          description: Parent account ID when this account is a sub account
        created_at:
          type: string
          format: date-time
          description: When the account was created
        updated_at:
          type: string
          format: date-time
          description: When the account was last updated
        name:
          type: string
          description: Account name
        website:
          type: string
          format: uri
          description: Account website URL
        about:
          type: string
          description: Account description
        track_opens:
          type: boolean
          description: Default open tracking setting
        track_clicks:
          type: boolean
          description: Default click tracking setting
        reject_bad_recipients:
          type: boolean
          description: Whether to reject bad recipients
        reject_mistyped_recipients:
          type: boolean
          description: Whether to reject mistyped recipients
        message_metadata_retention:
          type: integer
          description: Default message metadata retention in days
        message_data_retention:
          type: integer
          description: Default message data retention in days
        owner_id:
          type: string
          format: uuid
          description: Account owner user ID
      required:
        - object
        - id
        - parent_account_id
        - created_at
        - updated_at
        - name
        - website
        - about
        - track_opens
        - track_clicks
        - reject_bad_recipients
        - reject_mistyped_recipients
        - message_metadata_retention
        - message_data_retention
        - owner_id

    SubAccount:
      type: object
      required:
        - object
        - id
        - parent_account_id
        - name
        - website
        - status
        - monthly_credit
        - created_at
        - domain_count
        - member_count
        - last_activity_at
      properties:
        object:
          type: string
          enum: [sub_account]
          description: Object type identifier
        id:
          type: string
          format: uuid
          description: Unique identifier for the sub account
        parent_account_id:
          type: string
          format: uuid
          description: Parent account ID
        created_at:
          type: string
          format: date-time
          description: When the sub account was created
        name:
          type: string
          description: Sub account name
        website:
          type: string
          format: fqdn
          maxLength: 255
          description: Account website domain
        status:
          type: string
          enum: [active, suspended, parent-suspended, deleted]
          description: Current sub-account status
        monthly_credit:
          type: integer
          format: int64
          minimum: 0
          description: Optional monthly cap; 0 means no cap
        domain_count:
          type: integer
          format: int64
          minimum: 0
          description: Number of domains owned by the sub account
        member_count:
          type: integer
          format: int64
          minimum: 0
          description: Number of direct members on the sub account
        last_activity_at:
          type: [string, 'null']
          format: date-time
          description: Last recorded sub-account email activity
      example:
        object: sub_account
        id: "2f3c5d2a-9ef8-4c91-a5f4-79990c8c1d3a"
        parent_account_id: "9d0cf9d0-4f5e-4674-bcf1-8ec39968b6e1"
        name: "Acme Subsidiary"
        website: "acme.example.com"
        status: active
        monthly_credit: 0
        created_at: "2024-01-01T00:00:00Z"
        domain_count: 2
        member_count: 3
        last_activity_at: "2024-01-15T12:00:00Z"

    CreateSubAccountRequest:
      type: object
      required:
        - name
        - website
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: Human-readable name for the sub account; leading and trailing whitespace is trimmed and the result must not be blank
        website:
          type: string
          format: fqdn
          maxLength: 255
          description: Account website domain
        monthly_credit:
          type: integer
          format: int64
          minimum: 0
          maximum: 1000000000
          default: 0
          description: Optional monthly cap; 0 means no cap
      example:
        name: "Acme Subsidiary"
        website: "acme.example.com"
        monthly_credit: 0

    UpdateSubAccountRequest:
      type: object
      description: At least one non-null field must be provided, and at least one provided value must differ from the current value. Omitted or null fields are left unchanged.
      anyOf:
        - required: [name]
          properties:
            name:
              type: string
        - required: [website]
          properties:
            website:
              type: string
        - required: [monthly_credit]
          properties:
            monthly_credit:
              type: integer
      properties:
        name:
          type: [string, 'null']
          minLength: 1
          maxLength: 255
          description: Human-readable name for the sub account; leading and trailing whitespace is trimmed and the result must not be blank
        website:
          type: [string, 'null']
          format: fqdn
          maxLength: 255
          description: Account website domain
        monthly_credit:
          type: [integer, 'null']
          format: int64
          minimum: 0
          maximum: 1000000000
          description: Optional monthly cap; 0 means no cap
      example:
        name: "Acme Subsidiary"
        website: "acme.example.com"
        monthly_credit: 50000

    SuspendSubAccountRequest:
      type: object
      required:
        - reason
      properties:
        reason:
          type: string
          minLength: 1
          maxLength: 500
          description: Reason shown on the sub account suspension record
      example:
        reason: "Customer requested temporary pause"

    SubAccountUsageBreakdown:
      type: object
      required:
        - reception_count
        - allocated_cost
      properties:
        account_id:
          type: string
          format: uuid
          description: Account ID for this usage bucket
        name:
          type: string
          description: Sub account name when this bucket is for a sub account
        reception_count:
          type: integer
          format: int64
          minimum: 0
          description: Number of received messages in the billing period
        allocated_cost:
          type: number
          format: double
          minimum: 0
          description: Proportional allocated cost for this usage bucket
      example:
        account_id: "2f3c5d2a-9ef8-4c91-a5f4-79990c8c1d3a"
        name: "Acme Subsidiary"
        reception_count: 3000000
        allocated_cost: 60.0

    SubAccountUsageResponse:
      type: object
      required:
        - billing_period
        - currency
        - allocation_method
        - allocation_note
        - parent
        - sub_accounts
        - removed_sub_accounts
        - total
      properties:
        billing_period:
          type: object
          required:
            - start
            - end
          properties:
            start:
              type: string
              format: date-time
              description: Billing period start
            end:
              type: string
              format: date-time
              description: Billing period end
        currency:
          type: string
          description: Currency code used for cost allocation
        allocation_method:
          type: string
          enum: [proportional]
          description: Method used to allocate the pooled parent invoice cost
        allocation_note:
          type: string
          description: Disclaimer explaining that allocated cost is not standalone sub-account pricing
        parent:
          allOf:
            - $ref: '#/components/schemas/SubAccountUsageBreakdown'
            - type: object
              required:
                - account_id
        sub_accounts:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/SubAccountUsageBreakdown'
              - type: object
                required:
                  - account_id
                  - name
          description: Per-sub-account usage and allocated cost
        removed_sub_accounts:
          $ref: '#/components/schemas/SubAccountUsageBreakdown'
          description: Aggregated usage from sub accounts deleted during the period; still billed to the parent and not identified individually
        total:
          $ref: '#/components/schemas/SubAccountUsageBreakdown'
      example:
        billing_period:
          start: "2024-01-01T00:00:00Z"
          end: "2024-02-01T00:00:00Z"
        currency: usd
        allocation_method: proportional
        allocation_note: "allocated_cost is a proportional share of the parent's pooled invoice for the period, not what the sub would pay on its own plan."
        parent:
          account_id: "9d0cf9d0-4f5e-4674-bcf1-8ec39968b6e1"
          reception_count: 1000000
          allocated_cost: 20.0
        sub_accounts:
          - account_id: "2f3c5d2a-9ef8-4c91-a5f4-79990c8c1d3a"
            name: "Acme Subsidiary"
            reception_count: 3000000
            allocated_cost: 60.0
        removed_sub_accounts:
          reception_count: 0
          allocated_cost: 0.0
        total:
          reception_count: 4000000
          allocated_cost: 80.0

    PaginatedSubAccountsResponse:
      type: object
      required:
        - object
        - data
        - pagination
      properties:
        object:
          type: string
          enum: [list]
          description: Object type identifier
        data:
          type: array
          items:
            $ref: '#/components/schemas/SubAccount'
          description: Array of sub accounts
        pagination:
          $ref: '#/components/schemas/PaginationInfo'

    UpdateAccountRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 255
          description: Account name
        website:
          type: string
          format: uri
          description: Account website URL
        about:
          type: string
          description: Account description (used for account verification)
        track_opens:
          type: boolean
          description: Default open tracking setting
        track_clicks:
          type: boolean
          description: Default click tracking setting
        reject_bad_recipients:
          type: boolean
          description: Whether to reject bad recipients
        reject_mistyped_recipients:
          type: boolean
          description: Whether to reject mistyped recipients
        message_metadata_retention:
          type: integer
          minimum: 1
          maximum: 30
          description: Default message metadata retention in days
        message_data_retention:
          type: integer
          minimum: 0
          maximum: 30
          description: Default message data retention in days
      example:
        name: "Updated Company Name"
        website: "https://example.com"
        track_opens: true

    UserAccount:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: When the relationship was created
        updated_at:
          type: string
          format: date-time
          description: When the relationship was last updated
        user_id:
          type: string
          format: uuid
          description: User ID
        account_id:
          type: string
          format: uuid
          description: Account ID
        role:
          type: string
          enum: [Administrator, Developer, Analyst, "Billing Manager"]
          description: User role in the account
      required:
        - created_at
        - updated_at
        - user_id
        - account_id
        - role

    AccountMembersResponse:
      type: object
      required:
        - object
        - data
      properties:
        object:
          type: string
          enum: [list]
          description: Object type identifier
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserAccount'
          description: Array of account members

    AddMemberRequest:
      type: object
      required:
        - email
        - role
      properties:
        email:
          type: string
          format: email
          description: Email address of the user to add
        name:
          type: string
          description: Display name for the user
        role:
          type: string
          enum: [Administrator, Developer, Analyst, "Billing Manager"]
          description: Role to assign to the user
      example:
        email: "user@example.com"
        name: "John Doe"
        role: "Developer"

    # Suppression Schemas
    Suppression:
      type: object
      properties:
        object:
          type: string
          enum: [suppression]
          description: Object type identifier
        id:
          type: string
          format: uuid
          description: Unique identifier for the suppression
        created_at:
          type: string
          format: date-time
          description: When the suppression was created
        email:
          type: string
          format: email
          description: Suppressed email address
        domain:
          type: string
          description: Domain for which the email is suppressed
        reason:
          type: string
          description: Reason for suppression
        expires_at:
          type: string
          format: date-time
          description: When the suppression expires
      required:
        - object
        - id
        - created_at
        - email
        - domain
        - reason
        - expires_at

    CreateSuppressionResponse:
      type: object
      required:
        - object
        - data
      properties:
        object:
          type: string
          enum: [list]
          description: Object type identifier
        data:
          type: array
          items:
            $ref: '#/components/schemas/Suppression'
          description: Array of suppressions

    CreateSuppressionRequest:
      type: object
      required:
        - email
        - expires_at
      properties:
        email:
          type: string
          format: email
          description: Email address to suppress
        domain:
          type: string
          format: hostname
          description: Domain for which to suppress the email
        reason:
          type: string
          maxLength: 255
          description: Reason for suppression
        expires_at:
          type: string
          format: date-time
          description: When the suppression expires (RFC3339 format)
      example:
        email: "user@example.com"
        domain: "example.com"
        reason: "User requested removal"
        expires_at: "2024-12-25T10:30:00Z"

    PaginatedSuppressionsResponse:
      type: object
      required:
        - object
        - data
        - pagination
      properties:
        object:
          type: string
          enum: [list]
          description: Object type identifier
        data:
          type: array
          items:
            $ref: '#/components/schemas/Suppression'
          description: Array of suppressions
        pagination:
          $ref: '#/components/schemas/PaginationInfo'

    # Route Schemas
    Route:
      type: object
      properties:
        object:
          type: string
          enum: [route]
          description: Object type identifier
        id:
          type: string
          format: uuid
          description: Unique identifier for the route
        created_at:
          type: string
          format: date-time
          description: When the route was created
        updated_at:
          type: string
          format: date-time
          description: When the route was last updated
        name:
          type: string
          description: Route name
        url:
          type: string
          format: uri
          description: Webhook URL for the route
        recipient:
          type: string
          description: Recipient filter; an empty string means no recipient filter
        attachments:
          type: boolean
          description: Whether to include attachments in route payload
        headers:
          type: boolean
          description: Whether to include headers in route payload
        group_by_message_id:
          type: boolean
          description: Whether to group by message ID
        strip_replies:
          type: boolean
          description: Whether to strip reply content
        enabled:
          type: boolean
          description: Whether the route is enabled
        success_count:
          type: integer
          minimum: 0
          description: Number of successful calls
        error_count:
          type: integer
          minimum: 0
          description: Number of unsuccessful calls
        errors_since_last_success:
          type: integer
          minimum: 0
          description: |
            Number of consecutive failed calls. Reset to zero by the next
            successful call.
        last_request_at:
          type: [string, 'null']
          format: date-time
          description: When the route was last called
      required:
        - object
        - id
        - created_at
        - updated_at
        - name
        - url
        - recipient
        - attachments
        - headers
        - group_by_message_id
        - strip_replies
        - enabled
        - success_count
        - error_count
        - errors_since_last_success
        - last_request_at

    CreatedRoute:
      allOf:
        - $ref: '#/components/schemas/Route'
        - type: object
          properties:
            secret:
              type: string
              description: Route signing secret. Returned only when the route is created.
          required:
            - secret

    CreateRouteRequest:
      type: object
      required:
        - name
        - url
        - recipient
      properties:
        name:
          type: string
          maxLength: 255
          description: Route name
        url:
          type: string
          format: uri
          description: Webhook URL for the route
        recipient:
          type: string
          maxLength: 255
          description: Recipient filter
        attachments:
          type: boolean
          description: Whether to include attachments in webhooks
          default: false
        headers:
          type: boolean
          description: Whether to include headers in webhooks
          default: false
        group_by_message_id:
          type: boolean
          description: Whether to group by message ID
          default: false
        strip_replies:
          type: boolean
          description: Whether to strip reply content
          default: false
        enabled:
          type: boolean
          description: Whether the route is enabled
          default: true
      example:
        name: "Support Route"
        url: "https://example.com/webhook"
        recipient: "support@example.com"
        enabled: true

    UpdateRouteRequest:
      type: object
      properties:
        name:
          type: [string, 'null']
          maxLength: 255
          description: Route name
        url:
          type: [string, 'null']
          format: uri
          description: Webhook URL for the route
        recipient:
          type: [string, 'null']
          maxLength: 255
          description: Recipient filter
        attachments:
          type: [boolean, 'null']
          description: Whether to include attachments in webhooks
        headers:
          type: [boolean, 'null']
          description: Whether to include headers in webhooks
        group_by_message_id:
          type: [boolean, 'null']
          description: Whether to group by message ID
        strip_replies:
          type: [boolean, 'null']
          description: Whether to strip reply content
        enabled:
          type: [boolean, 'null']
          description: Whether the route is enabled
      example:
        name: "Updated Support Route"
        enabled: false

    PaginatedRoutesResponse:
      type: object
      required:
        - object
        - data
        - pagination
      properties:
        object:
          type: string
          enum: [list]
          description: Object type identifier
        data:
          type: array
          items:
            $ref: '#/components/schemas/Route'
          description: Array of routes
        pagination:
          $ref: '#/components/schemas/PaginationInfo'

    # Webhook Schemas
    Webhook:
      type: object
      properties:
        object:
          type: string
          enum: [webhook]
          description: Object type identifier
        id:
          type: string
          format: uuid
          description: Unique identifier for the webhook
        created_at:
          type: string
          format: date-time
          description: When the webhook was created
        updated_at:
          type: string
          format: date-time
          description: When the webhook was last updated
        name:
          type: string
          description: Webhook name
        url:
          type: string
          format: uri
          description: Webhook URL
        enabled:
          type: boolean
          description: Whether the webhook is enabled
        on_reception:
          type: boolean
          description: Trigger on message reception
        on_delivered:
          type: boolean
          description: Trigger on message delivery
        on_transient_error:
          type: boolean
          description: Trigger on transient errors
        on_failed:
          type: boolean
          description: Trigger on permanent failures
        on_bounced:
          type: boolean
          description: Trigger on bounces
        on_suppressed:
          type: boolean
          description: Trigger on suppressions
        on_opened:
          type: boolean
          description: Trigger on opens
        on_clicked:
          type: boolean
          description: Trigger on clicks
        on_suppression_created:
          type: boolean
          description: Trigger on suppression creation
        on_dns_error:
          type: boolean
          description: Trigger on DNS errors
        scope:
          type: string
          enum: [global, scoped]
          description: Webhook scope
        domains:
          type: array
          items:
            type: string
          description: Domains this webhook applies to. Always present; global webhooks return an empty array.
        success_count:
          type: integer
          minimum: 0
          description: Number of successful calls
        error_count:
          type: integer
          minimum: 0
          description: Number of unsuccessful calls
        errors_since_last_success:
          type: integer
          minimum: 0
          description: |
            Number of consecutive failed calls. Reset to zero by the next
            successful call.
        last_request_at:
          type: [string, 'null']
          format: date-time
          description: When the webhook was last called
      required:
        - object
        - id
        - created_at
        - updated_at
        - name
        - url
        - enabled
        - on_reception
        - on_delivered
        - on_transient_error
        - on_failed
        - on_bounced
        - on_suppressed
        - on_opened
        - on_clicked
        - on_suppression_created
        - on_dns_error
        - scope
        - domains
        - success_count
        - error_count
        - errors_since_last_success
        - last_request_at

    CreatedWebhook:
      allOf:
        - $ref: '#/components/schemas/Webhook'
        - type: object
          properties:
            secret:
              type: string
              description: Webhook signing secret. Returned only when the webhook is created.
          required:
            - secret

    CreateWebhookRequest:
      type: object
      required:
        - name
        - url
        - scope
      properties:
        name:
          type: string
          maxLength: 255
          description: Webhook name
        url:
          type: string
          format: uri
          description: Webhook URL
        enabled:
          type: boolean
          description: Whether the webhook is enabled
          default: true
        on_reception:
          type: boolean
          description: Trigger on message reception
          default: false
        on_delivered:
          type: boolean
          description: Trigger on message delivery
          default: false
        on_transient_error:
          type: boolean
          description: Trigger on transient errors
          default: false
        on_failed:
          type: boolean
          description: Trigger on permanent failures
          default: false
        on_bounced:
          type: boolean
          description: Trigger on bounces
          default: false
        on_suppressed:
          type: boolean
          description: Trigger on suppressions
          default: false
        on_opened:
          type: boolean
          description: Trigger on opens
          default: false
        on_clicked:
          type: boolean
          description: Trigger on clicks
          default: false
        on_suppression_created:
          type: boolean
          description: Trigger on suppression creation
          default: false
        on_dns_error:
          type: boolean
          description: Trigger on DNS errors
          default: false
        scope:
          type: string
          enum: [global, scoped]
          description: Webhook scope
        domains:
          type: [array, 'null']
          items:
            type: string
          description: |
            For `scoped`, a non-empty array is required. For `global`, this may
            be omitted, null, empty, or non-empty; supplied values are accepted
            but ignored.
      allOf:
        - if:
            properties:
              scope:
                const: scoped
            required: [scope]
          then:
            required: [domains]
            properties:
              domains:
                type: array
                minItems: 1
                items:
                  type: string
      example:
        name: "Delivery Webhook"
        url: "https://example.com/webhook"
        scope: "global"
        enabled: true
        on_delivered: true

    UpdateWebhookRequest:
      type: object
      description: |
        Partial update. Omitted and null scalar fields leave their stored values
        unchanged. Domain transition rules depend on the webhook's existing
        scope and are described on `domains`.
      properties:
        name:
          type: [string, 'null']
          maxLength: 255
          description: Webhook name
        url:
          type: [string, 'null']
          format: uri
          description: Webhook URL
        enabled:
          type: [boolean, 'null']
          description: Whether the webhook is enabled
        on_reception:
          type: [boolean, 'null']
          description: Trigger on message reception
        on_delivered:
          type: [boolean, 'null']
          description: Trigger on message delivery
        on_transient_error:
          type: [boolean, 'null']
          description: Trigger on transient errors
        on_failed:
          type: [boolean, 'null']
          description: Trigger on permanent failures
        on_bounced:
          type: [boolean, 'null']
          description: Trigger on bounces
        on_suppressed:
          type: [boolean, 'null']
          description: Trigger on suppressions
        on_opened:
          type: [boolean, 'null']
          description: Trigger on opens
        on_clicked:
          type: [boolean, 'null']
          description: Trigger on clicks
        on_suppression_created:
          type: [boolean, 'null']
          description: Trigger on suppression creation
        on_dns_error:
          type: [boolean, 'null']
          description: Trigger on DNS errors
        scope:
          type: [string, 'null']
          enum: [global, scoped, null]
          description: Webhook scope. Omit or send null to keep the current scope.
        domains:
          type: [array, 'null']
          items:
            type: string
          description: |
            Omit or send null to leave domain associations unchanged. An array
            replaces associations when the resulting scope is `scoped`; `[]`
            explicitly clears them. Changing a global webhook to `scoped`
            requires a non-empty array in the same request and otherwise
            returns HTTP 400. Changing to `global` clears all associations;
            supplied domains are ignored when the resulting scope is global.

    PaginatedWebhooksResponse:
      type: object
      required:
        - object
        - data
        - pagination
      properties:
        object:
          type: string
          enum: [list]
          description: Object type identifier
        data:
          type: array
          items:
            $ref: '#/components/schemas/Webhook'
          description: Array of webhooks
        pagination:
          $ref: '#/components/schemas/PaginationInfo'

    # SMTP Credentials Schemas
    SMTPCredential:
      type: object
      properties:
        object:
          type: string
          enum: [credential_smtp]
          description: Object type identifier
        id:
          type: string
          format: uuid
          description: Unique identifier for the SMTP credential
        created_at:
          type: string
          format: date-time
          description: When the credential was created
        updated_at:
          type: string
          format: date-time
          description: When the credential was last updated
        name:
          type: string
          description: Credential name
        username:
          type: string
          description: SMTP username
        sandbox:
          type: boolean
          description: Whether this is a sandbox credential
        scope:
          type: string
          enum: [global, scoped]
          description: Credential scope
        domains:
          type: array
          items:
            type: string
          description: Domains this credential can send from. Always present; global credentials return an empty array.
      required:
        - object
        - id
        - created_at
        - updated_at
        - name
        - username
        - sandbox
        - scope
        - domains

    CreatedSMTPCredential:
      allOf:
        - $ref: '#/components/schemas/SMTPCredential'
        - type: object
          properties:
            password:
              type: string
              description: SMTP password. Returned only when the credential is created.
          required:
            - password

    CreateSMTPCredentialRequest:
      type: object
      required:
        - name
        - scope
      properties:
        name:
          type: string
          maxLength: 255
          description: Credential name
        sandbox:
          type: boolean
          description: Whether this is a sandbox credential
          default: false
        scope:
          type: string
          enum: [global, scoped]
          description: Credential scope - "global" or "scoped"
        domains:
          type: [array, 'null']
          items:
            type: string
          description: |
            For `scoped`, a non-empty array is required. For `global`, this may
            be omitted, null, empty, or non-empty; supplied values are accepted
            but ignored.
      allOf:
        - if:
            properties:
              scope:
                const: scoped
            required: [scope]
          then:
            required: [domains]
            properties:
              domains:
                type: array
                minItems: 1
                items:
                  type: string
      example:
        name: "Production SMTP"
        scope: "global"

    PaginatedSMTPCredentialsResponse:
      type: object
      required:
        - object
        - data
        - pagination
      properties:
        object:
          type: string
          enum: [list]
          description: Object type identifier
        data:
          type: array
          items:
            $ref: '#/components/schemas/SMTPCredential'
          description: Array of SMTP credentials
        pagination:
          $ref: '#/components/schemas/PaginationInfo'

    # Statistics Schemas
    DeliverabilityStatistics:
      type: object
      properties:
        from_timestamp:
          type: string
          format: date-time
          description: Start time of the statistics bucket
        to_timestamp:
          type: string
          format: date-time
          description: End time of the statistics bucket
        reception_count:
          type: integer
          description: Number of messages accepted for delivery
        delivered_count:
          type: integer
          description: Number of messages delivered
        deferred_count:
          type: integer
          description: Number of messages deferred
        bounced_count:
          type: integer
          description: Number of messages bounced
        failed_count:
          type: integer
          description: Number of messages failed
        suppressed_count:
          type: integer
          description: Number of messages suppressed
        opened_count:
          type: integer
          description: Number of messages opened at least once
        clicked_count:
          type: integer
          description: Number of messages that have at least one link in them clicked.
      required:
        - from_timestamp
        - to_timestamp
        - reception_count
        - delivered_count
        - deferred_count
        - bounced_count
        - failed_count
        - suppressed_count
        - opened_count
        - clicked_count

    DeliverabilityStatisticsResponse:
      type: object
      required:
        - object
        - data
      properties:
        object:
          type: string
          enum: [list]
          description: Object type identifier
        data:
          type: array
          items:
            $ref: '#/components/schemas/DeliverabilityStatistics'
          description: Array of deliverability statistics

    Bounce:
      type: object
      properties:
        classification:
          type: string
          description: Bounce classification
        count:
          type: integer
          description: Number of bounces
      required:
        - classification
        - count
    BounceStatistics:
      type: object
      properties:
        from_timestamp:
          type: string
          format: date-time
          description: Start time of the statistics bucket
        to_timestamp:
          type: string
          format: date-time
          description: End time of the statistics bucket
        bounces:
          type: array
          items:
            $ref: '#/components/schemas/Bounce'
          description: Bounce count per bounce classification
      required:
        - from_timestamp
        - to_timestamp
        - bounces

    BounceStatisticsResponse:
      type: object
      required:
        - object
        - data
      properties:
        object:
          type: string
          enum: [list]
          description: Object type identifier
        data:
          type: array
          items:
            $ref: '#/components/schemas/BounceStatistics'
          description: Array of bounce statistics

    DeliveryTimeStatistics:
      type: object
      properties:
        from_timestamp:
          type: string
          format: date-time
          description: Start time of the statistics bucket
        to_timestamp:
          type: string
          format: date-time
          description: End time of the statistics bucket
        avg_delivery_time:
          type: number
          format: double
          description: Average delivery time in seconds
        delivered_count:
          type: integer
          description: Number of messages
        delivery_times:
          type: array
          items:
            $ref: '#/components/schemas/DeliveryTime'
            description: Delivery times per recipient domain
      required:
        - from_timestamp
        - to_timestamp
        - avg_delivery_time
        - delivered_count
        - delivery_times

    DeliveryTime:
      type: object
      properties:
        recipient_domain:
          type: string
          format: fqdn
          description: The recipient domain
        delivery_time:
          type: number
          format: double
          description: The average time from reception to delivery in seconds
        count:
          type: integer
          format: int64
          description: Number of delivered messages included in the average
      required:
        - recipient_domain
        - delivery_time
        - count


    DeliveryTimeStatisticsResponse:
      type: object
      required:
        - object
        - data
      properties:
        object:
          type: string
          enum: [list]
          description: Object type identifier
        data:
          type: array
          items:
            $ref: '#/components/schemas/DeliveryTimeStatistics'
          description: Array of delivery time statistics

paths:
  # Utility endpoints
  /v2/ping:
    get:
      summary: Ping
      description: Health check endpoint that returns a simple pong response
      operationId: ping
      tags:
        - Utility
      security:
        - BearerAuth: []
      x-code-samples:
        - lang: go
          label: AhaSend Go SDK
          source: |
            package main

            import (
              "context"
              "fmt"
              "log"

              "github.com/AhaSend/ahasend-go/api"
            )

            func main() {
              // Create API client with authentication
              client := api.NewAPIClient(
                api.WithAPIKey("aha-sk-your-64-character-key"),
              )

              // Create context for the API call
              ctx := context.Background()

              // Call the ping endpoint
              response, httpResp, err := client.UtilityAPI.Ping(ctx)
              if err != nil {
                log.Fatalf("Error pinging API: %v", err)
              }

              // Check response
              if httpResp.StatusCode == 200 {
                fmt.Printf("✅ Ping successful! Status: %d\n", httpResp.StatusCode)
                if response != nil && response.Message != "" {
                    fmt.Printf("Response: %s\n", response.Message)
                }
              } else {
                fmt.Printf("❌ Unexpected status code: %d\n", httpResp.StatusCode)
              }
            }



        - lang: javascript
          label: Node.js 22+ (AhaSend SDK)
          source: |
            import { AhaSendClient } from "@ahasend/sdk";

            const client = AhaSendClient.fromEnv();
            const health = await client.ping();
            console.log("AhaSend API is reachable.", { message: health.message });

      responses:
        '200':
          description: Pong response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                message: "pong"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: "missing or malformed bearer token"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: invalid API key
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: insufficient permissions for the required scope
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: internal server error

  # API Keys endpoints
  /v2/accounts/{account_id}/api-keys:
    get:
      summary: Get API Keys
      description: Returns a list of API keys for the account
      operationId: getAPIKeys
      tags:
        - API Keys
      parameters:
        - name: account_id
          in: path
          required: true
          description: Account ID
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          description: Maximum number of items to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
        - name: after
          in: query
          description: Pagination cursor for the next page. Provide the value provided in `next_cursor` from the response.
          schema:
            type: string
        - name: before
          in: query
          description: Pagination cursor for the previous page.
          schema:
            type: string
      security:
        - BearerAuth: ["api-keys:read"]
      x-code-samples:
        - lang: go
          label: AhaSend Go SDK
          source: |
            package main

            import (
              "context"
              "fmt"
              "log"

              "github.com/AhaSend/ahasend-go/api"
              "github.com/google/uuid"
            )

            func main() {
              // Create API client with authentication
              client := api.NewAPIClient(
                api.WithAPIKey("aha-sk-your-64-character-key"),
              )

              accountID := uuid.New()

              // Create context for the API call
              ctx := context.Background()

              // Call the ping endpoint
              response, httpResp, err := client.APIKeysAPI.GetAPIKeys(
                ctx,
                accountID,
                nil,
                nil,
              )
              if err != nil {
                log.Fatalf("Error getting API keys: %v", err)
              }

              // Check response
              if httpResp.StatusCode == 200 {
                fmt.Printf("✅ Status: %d\n", httpResp.StatusCode)
                if response != nil {
                  fmt.Printf("Found %d API keys\n", len(response.Data))
                }
              } else {
                fmt.Printf("❌ Unexpected status code: %d\n", httpResp.StatusCode)
              }
            }

        - lang: javascript
          label: Node.js 22+ (AhaSend SDK)
          source: |
            import { AhaSendClient } from "@ahasend/sdk";

            const client = AhaSendClient.fromEnv();
            const page = await client.apiKeys.list({ limit: 20 });
            console.log("API keys listed.", { count: page.data.length });

      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAPIKeysResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      summary: Create API Key
      description: Creates a new API key with the specified scopes
      operationId: createAPIKey
      tags:
        - API Keys
      parameters:
        - name: account_id
          in: path
          required: true
          description: Account ID
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/IdempotencyKey'
      security:
        - BearerAuth: ["api-keys:write"]
      x-code-samples:
        - lang: go
          label: AhaSend Go SDK
          source: |
            package main

            import (
              "context"
              "fmt"
              "log"

              "github.com/AhaSend/ahasend-go/api"
              "github.com/AhaSend/ahasend-go/models/requests"
              "github.com/google/uuid"
            )

            func main() {
              // Create API client with authentication
              client := api.NewAPIClient(
                api.WithAPIKey("aha-sk-your-64-character-key"),
              )

              accountID := uuid.New()

              // Create context for the API call
              ctx := context.Background()

              // Create a new API key
              response, httpResp, err := client.APIKeysAPI.CreateAPIKey(
                ctx,
                accountID,
                requests.CreateAPIKeyRequest{
                  Label: "My API Key",
                  Scopes: []string{
                    "messages:read:all",
                    "domains:read",
                  },
                  // Optional: restrict this key to specific source IPs (CIDR
                  // blocks or bare IPv4/IPv6 addresses). Omit or leave empty to
                  // allow the key to be used from any IP.
                  IPAllowList: []string{"203.0.113.0/24", "198.51.100.7"},
                },
              )
              if err != nil {
                log.Fatalf("Error creating API key: %v", err)
              }

              // Check response
              if httpResp.StatusCode == 201 {
                fmt.Printf("✅ Status: %d\n", httpResp.StatusCode)
                // SecretKey is the one-time secret, returned ONLY on create.
                if response != nil && response.SecretKey != nil {
                  // Store this value immediately — it cannot be retrieved again later.
                  fmt.Printf("Created API key, secret key: %s\n", *response.SecretKey)
                }
              } else {
                fmt.Printf("❌ Unexpected status code: %d\n", httpResp.StatusCode)
              }
            }

        - lang: javascript
          label: Node.js 22+ (AhaSend SDK)
          source: |
            import { AhaSendClient } from "@ahasend/sdk";

            const client = AhaSendClient.fromEnv();
            const apiKey = await client.apiKeys.create(
              { label: "Production API key", scopes: ["messages:send:all"] },
              { idempotencyKey: "sdk-sample-create-api-key" },
            );
            console.log("API key created.", { id: apiKey.id, label: apiKey.label });

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAPIKeyRequest'
      responses:
        '201':
          description: API key created successfully
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/APIKey'
                  - type: object
                    required:
                      - secret_key
                    properties:
                      secret_key:
                        type: string
                        readOnly: true
                        description: |
                          One-time secret key. Store it immediately. Exact
                          successful idempotent replays return the same secret
                          during the 5-minute encrypted replay window.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/IdempotencyPayloadMismatch'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v2/accounts/{account_id}/api-keys/{key_id}:
    get:
      summary: Get API Key
      description: Returns a specific API key by ID
      operationId: getAPIKey
      tags:
        - API Keys
      parameters:
        - name: account_id
          in: path
          required: true
          description: Account ID
          schema:
            type: string
            format: uuid
        - name: key_id
          in: path
          required: true
          description: API Key ID
          schema:
            type: string
            format: uuid
      security:
        - BearerAuth: ["api-keys:read"]
      x-code-samples:
        - lang: go
          label: AhaSend Go SDK
          source: |
            package main

            import (
              "context"
              "fmt"
              "log"

              "github.com/AhaSend/ahasend-go/api"
              "github.com/google/uuid"
            )

            func main() {
              // Create API client with authentication
              client := api.NewAPIClient(
                api.WithAPIKey("aha-sk-your-64-character-key"),
              )

              accountID := uuid.New()

              // Create context for the API call
              ctx := context.Background()

              // Call the ping endpoint
              response, httpResp, err := client.APIKeysAPI.GetAPIKey(
                ctx,
                accountID,
                uuid.MustParse("c5a32c40-b351-439f-8230-779daed3e42c"),
              )
              if err != nil {
                log.Fatalf("Error getting API key: %v", err)
              }

              // Check response
              if httpResp.StatusCode == 200 {
                fmt.Printf("✅ Status: %d\n", httpResp.StatusCode)
                if response != nil {
                  fmt.Printf("API key: %#v\n", response)
                }
              } else {
                fmt.Printf("❌ Unexpected status code: %d\n", httpResp.StatusCode)
              }
            }
        - lang: javascript
          label: Node.js 22+ (AhaSend SDK)
          source: |
            import { AhaSendClient } from "@ahasend/sdk";

            const client = AhaSendClient.fromEnv();
            const keyId = "00000000-0000-4000-8000-000000000001";
            const apiKey = await client.apiKeys.get(keyId);
            console.log("API key found.", { id: apiKey.id, label: apiKey.label });

      responses:
[...]
